<div ng-include="'templates/_loading.html'"></div>
<ion-side-menus enable-menu-with-back-views="false" ng-controller="UserCtrl" ng-show="loaded">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-buttons side="right">
        <span ng-if="!logged">
          <a class="button button-clear button-light" ng-if="!show_register || !show_login" href="#/articles">Artigos</a>
          <span class="button button-clear button-light" ng-if="!show_register || !show_login" disabled="true">|</span>
          <a class="button button-clear button-light" ng-if="show_register" href="#/register">Fazer Cadastro</a>
          <span class="button button-clear button-light" ng-if="show_register && show_login" disabled="true">|</span>
          <a class="button button-clear button-light" ng-if="show_login" href="#/login">Entrar</a>
        </span>
        <span ng-if="logged">
          <button id="menu-button" class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </span>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar-subheader" id="logo_board">
      <div class="row" >
        <div class="col">
          <a target="_blank" href="http://agoraentert.com.br/insights/">
            <img ng-src="img/logo-aei.png" class="logo_aei"/>
          </a>
        </div>
        <div class="col">
          <a target="_blank" href="http://agoraentert.com.br/">
            <img ng-src="img/logo-ae.png" class="logo_ae"/>
          </a>
        </div>
      </div>
    </ion-header-bar>
    <ion-nav-view ></ion-nav-view>
  </ion-side-menu-content>
  <div ng-include="'templates/_sidebar.html'"></div>
</ion-side-menus>
