<ion-view>
  <ion-content>
    <form name="formLogin">
      <div class="list list-inset">
        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-key placeholder-icon"></i> Email</span>
          <input type="email" placeholder="Email" name="email" ng-model="login.email" ng-required="true"/>
          <span class="assertive" ng-show="formLogin.email.$invalid && formLogin.email.$dirty">Preencha o campo email corretamente!</span>
        </label>
        <br/>
        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-key placeholder-icon"></i> Senha</span>
          <input type="password" placeholder="Senha" name="password" ng-model="login.password" ng-required="true"/>
          <span class="assertive" ng-show="formLogin.password.$invalid && formLogin.password.$dirty">Preencha o campo senha corretamente!</span>
        </label>
        <button
          class="button button-block button-large button-aei"
          ng-disabled="formLogin.$invalid"
          ng-click="loginUser(login)"
        >Entrar</button>
      </div>
    </form>
  </ion-content>
</ion-view>
