/*
* CSS Modifications to app.
*/

/*Article Page*/
#article ion-content{
  padding:20px;
}
#article h1{
  text-align:center;
  font-size:30px;
  padding: 10px 0;
}
#article .content-rendered p{
  text-align:justify;
}
#article .content-rendered h3 strong{
  font-size:18px;
  text-align:center;
}
#article .content-rendered p img{
  width: 100% !important;
  height: auto !important;
}
#article .social-share{
  text-align: right;
}

/*Profile Page*/
#profile .interest-text{
  padding:0;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#profile .interest-text div{
  width: 50%;
  padding: 10px 0;
}
#profile .interest-text div{
  text-align: left;
}
#profile .interest-text div i.icon{
  padding: 0 3px 0 13px;
}

.has-header,
.has-subheader{
  top:154px;
}

.button-aei,
.button-aei:hover{
  background-color: #395673;
  color:#fff;
  border-color:#23303E;
}
.button-aei.active,
.button-aei.activated{
  background-color: #23303E;
}

#menu-button{
  display: block !important;
}
#menu .scroll-content.ionic-scroll.has-header{
  margin-top:-111px !important;
}
#menu .icon{
  width: 20px;
  text-align: center;
  display: inline-block;
}

#loading{
  background-color: #23303E;
  text-align: center;
  padding-top:60%;
}

#loading .spinner svg {
  width: 70px;
  height: 70px;
  stroke: #fff;
  fill: #fff;
}

#loading p {
  color:#fff;
  font-weight:bold;
}

.ng-animate.no-animate {
  transition: 0s none;
  -webkit-transition: 0s none;
  animation: 0s none;
  -webkit-animation: 0s none;
}


.thumb_article{
  padding:0;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.thumb_article .col{
  padding:0;
}
.thumb_article img{
  width: 100% !important;
  height: 100% !important;
}


#logo_board {
  height: 110px;
}
#logo_board img{
  max-height: 80px;
  max-width: 100%;
}
#logo_board img.logo_aei{
  max-height: ;
  padding:0 20px;
}
#logo_board img.logo_ae{
  padding:22px 0 0;
}
